.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 2.4rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--text-over-primary);
  padding: 0.7rem;
  border-radius: 1rem;
}

.menuLink:hover {
  filter: brightness(50%);
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}
